.carouselTicker__wrap {
  overflow: visible !important;
}

.carouselTicker__item {
  position: relative;
  margin: 0 15px;
  float: left;
  text-align: center;
}

.carouselTicker__item .tool-tip {
  opacity: 0;
  position: absolute;
  top: -40px;
  left: -10px;
  width: -moz-max-content;
  width: max-content;
  padding: 2px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  border-radius: 5px;
  background: #1f1f24;
  transition: all 0.3s ease;
}

.carouselTicker__item .tool-tip::before {
  content: url('../assets/imgs/down.svg');
  position: absolute;
  bottom: -14px;
  left: 30%;
  z-index: 20;
}

.carouselTicker__item:hover .tool-tip {
  opacity: 1;
  transition: all 0.3s ease;
}

.brand-logo {
  transition: all 0.3s ease;
  background-color: #242424;
  border: 1px solid var(--tc-border-1);
}

.brand-logo:hover {
  transition: all 0.3s ease;
  background-color: #242424;
  border: none;
}

.decorate {
  top: -35px;
  right: -35px;
}

.decorate .circle-1-1 {
  width: 210px;
  height: 210px;
  border: 0.4px solid var(--tc-border-1);
  border-radius: 50%;
}

.decorate .circle-1-2 {
  width: 124px;
  height: 124px;
  border: 0.4px solid var(--tc-border-1);
  border-radius: 50%;
}

.decorate .circle-1-3 {
  width: 82px;
  height: 82px;
  border: 0.4px solid var(--tc-border-1);
  border-radius: 50%;
}

.icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon_80 {
  width: 80px;
  height: 80px;
  line-height: 80px;
}
